<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.usermaintenance.mapper.PtAuthorityMapper" >
	<resultMap id="ptAuthMap" type="co.jp.arche1.kdrs.usermaintenance.repository.PtAuthorityRepository" >
		<id column="authority_type" property="authorityType" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectAll" resultMap="ptAuthMap" >
		SELECT
			authority_type,
			name
		FROM
			pt_authority
	</select>

	<select id="selectOne" resultMap="ptAuthMap" >
		SELECT
			authority_type,
			name
		FROM
			pt_authority
		WHERE
			authority_type = #{authorityType}
	</select>



</mapper>
