<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.usermaintenance.mapper.PtCompanyUserMapper" >
	<resultMap id="ptCompanyUserMap" type="co.jp.arche1.kdrs.usermaintenance.repository.PtCompanyUserRepository" >
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<id column="company_id" property="roleId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- select id="selectMany"  resultType="co.jp.arche1.kdrs.usermaintenance.repository.PtUserRoleRepository" -->
	<select id="selectMany" resultMap="ptCompanyUserMap" >
		SELECT
			user_id
			,company_id
			,updated_at
		FROM
			pt_company_user
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
	        <if test="userId != null">
				AND pt_company_user.user_id = #{userId}
	        </if>
	        <if test="companyId != null">
				AND pt_company_user.company_id = #{companyId}
	        </if>
    	</trim>
	</select>

	<insert id="insert" useGeneratedKeys="true" >
		INSERT INTO
			pt_company_user
		(    user_id
			, company_id
			, created_at
			, updated_at
		)
		VALUES
		(
			#{userId}
			,#{companyId}
			, CURRENT_TIMESTAMP
			, CURRENT_TIMESTAMP

		)
    </insert>



</mapper>
