<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.report.mapper.PtReportMapper" >
	<resultMap id="ptReportMap" type="co.jp.arche1.kdrs.report.repository.PtReportRepository" >
	    <id column="report_no" property="reportNo" jdbcType="INTEGER" />
		<result column="priv_const_id" property="privConstId" jdbcType="INTEGER" />
		<result column="report_code" property="reportCode" jdbcType="VARCHAR" />
		<result column="person_code" property="personCode" jdbcType="VARCHAR" />
		<result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="const_type" property="constType" jdbcType="VARCHAR" />
		<result column="staff" property="staff" jdbcType="VARCHAR" />
		<result column="num_person" property="numPerson" jdbcType="VARCHAR" />
		<result column="hours" property="hours" jdbcType="VARCHAR" />
		<result column="early_hours" property="earlyHours" jdbcType="VARCHAR" />
		<result column="over_hours" property="overHours" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectMany" resultMap="ptReportMap" >
		SELECT
			priv_const_id, report_no, report_code, person_code,report_date, detail, const_type,
			staff,num_person, hours, early_hours, over_hours, deleted, created_at, updated_at
		FROM pt_report
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
	        <if test="reportNo != null">
				AND report_no = #{reportNo}
	        </if>
           <if test="privConstId != null">
				AND priv_const_id = #{privConstId}
	        </if>
            <if test="deleted != null and deleted != 2 ">
				AND deleted = #{deleted}
	        </if>
    	</trim>
        GROUP BY report_no;
    </select>


    <insert id="insert" parameterType="co.jp.arche1.kdrs.report.repository.PtReportRepository" useGeneratedKeys="true" >
		INSERT INTO
			pt_report
		(
			priv_const_id,
			report_code,
			person_code,
			report_date,
			detail,
			const_type,
			staff,
			num_person,
			hours,
			early_hours,
			over_hours,
			created_at,
			updated_at
		)
		VALUES
		(
			#{ptReportRepository.privConstId}
			,#{ptReportRepository.reportCode}
			,#{ptReportRepository.personCode}
			,#{ptReportRepository.reportDate}
			,#{ptReportRepository.detail}
			,#{ptReportRepository.constType}
			,#{ptReportRepository.staff}
			,#{ptReportRepository.numPerson}
			,#{ptReportRepository.hours}
			,#{ptReportRepository.earlyHours}
			,#{ptReportRepository.overHours}
			,#{ptReportRepository.createdAt}
			,#{ptReportRepository.updatedAt}
		)
    </insert>

    <update id ="updateAll" parameterType="java.util.List">
      <foreach collection="list" item="item" separator=";" >
		update pt_report
		<set>
		    updated_at = #{item.updatedAt}
            <if test="item.personCode != null">
               , person_code = #{item.personCode}
            </if>
            <if test="item.reportDate != null">
               , report_date = #{item.reportDate}
            </if>
            <if test="item.detail != null">
               , detail = #{item.detail}
            </if>
            <if test="item.constType != null">
               , const_type = #{item.constType}
            </if>
            <if test="item.staff != null">
               , staff = #{item.staff}
            </if>
            <if test="item.numPerson != null">
               , num_person = #{item.numPerson}
            </if>
            <if test="item.hours != null">
               , hours = #{item.hours}
            </if>
            <if test="item.earlyHours != null">
               , early_hours = #{item.earlyHours}
            </if>
            <if test="item.overHours != null">
               , over_hours = #{item.overHours}
            </if>
        </set>
		  WHERE report_code = #{item.reportCode}
      </foreach>
    </update >

    <update id ="deleteAll" parameterType="java.util.List">
      <foreach collection="list" item="item" separator=";" >
		update pt_report
		<set>
            updated_at = #{item.updatedAt},
            deleted = #{item.deleted},
        </set>
		    WHERE report_code = #{item.reportCode}
      </foreach>
    </update >

</mapper>
