<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.construction.mapper.PtConstructionMapper" >
	<resultMap id="ptConstructionMap" type="co.jp.arche1.kdrs.construction.repository.PtConstructionRepository" >
		<id column="const_id" property="constId" jdbcType="INTEGER" />
		<id column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="const_code" property="constCode" jdbcType="VARCHAR" />
		<result column="const_name" property="constName" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="start_date" property="startDate" jdbcType="DATE" />
		<result column="end_date" property="endDate" jdbcType="DATE" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectMany" resultMap="ptConstructionMap" >
		SELECT
			company_id, const_id, const_code, const_name,  deleted,
			start_date, end_date,
			created_at, updated_at
		FROM pt_construction
        WHERE company_id = #{companyId}
	        <if test="constId != null">
				AND const_id = #{constId}
	        </if>
            <if test="constCode != null">
				AND const_code like CONCAT('%', #{constCode},'%')
	        </if>
	        <if test="constName != null">
	        	AND const_name like CONCAT('%', #{constName},'%')
	        </if>
            <if test="deleted != null and deleted != 2 ">
				AND deleted = #{deleted}
	        </if>

        GROUP BY const_id;
    </select>

    <select id="selectConstIdCode" resultMap="ptConstructionMap" >
		SELECT
		 const_id, const_code
	    FROM pt_construction
        WHERE company_id = #{companyId} AND deleted = 0
       ORDER BY const_id;
    </select>


    <select id="selectList" resultMap="ptConstructionMap">
		SELECT
			company_id, const_id, const_code, const_name,  deleted,
			start_date, end_date,
			created_at, updated_at
		FROM pt_construction
		WHERE company_id = #{companyId}
			<if test="constCode != null">
				AND const_code like CONCAT('%', #{constCode},'%')
	        </if>
	        <if test="constName != null">
	        	AND const_name like CONCAT('%', #{constName},'%')
	        </if>


	        <if test="targetState == 2 and targetStartDt != null">
	            AND pt_construction.start_date <![CDATA[ >= ]]> #{targetStartDt}
	        </if>
	        <if test="targetState == 2 and targetEndDt != null">
	            AND pt_construction.start_date <![CDATA[ <= ]]> #{targetEndDt}
	        </if>
	        <if test="targetState == 3 and targetStartDt != null">
	            AND pt_construction.end_date <![CDATA[ >= ]]> #{targetStartDt}
	        </if>
	        <if test="targetState == 3 and targetEndDt != null">
	            AND pt_construction.end_date <![CDATA[ <= ]]> #{targetEndDt}
	        </if>

		ORDER BY pt_construction.end_date;

	</select>


    <select id="selectOne" resultMap="ptConstructionMap" >
		SELECT
			const_id, const_code, const_name,  deleted,
			start_date, end_date,
			created_at, updated_at
		FROM pt_construction
         WHERE  const_id = #{constId} AND company_id = #{companyId}
    </select>

     <insert id="insert" parameterType="co.jp.arche1.kdrs.construction.repository.PtConstructionRepository" useGeneratedKeys="true" keyProperty="constId">
		INSERT INTO pt_construction
		(
			const_code,
			company_id,
			const_name,
			user_id,
			start_date,
			end_date,
			created_at,
			updated_at
		)
		VALUES
		(
		    #{constCode},
		    #{companyId},
			#{constName},
			#{userId},
			#{startDate},
			#{endDate},
			CURRENT_TIMESTAMP,
			now()
		)
    </insert>

    <update id="update">
		update pt_construction
			<set>
				const_name = #{constName},
				const_code = #{constCode},
				user_id = #{userId},
				start_date = #{startDate},
				end_date = #{endDate},
				updated_at = CURRENT_TIMESTAMP
           </set>
			WHERE const_id = #{constId}  AND company_id = #{companyId}
	</update>

    <delete id="delete" >
		DELETE FROM pt_construction
		WHERE
	 	const_id = #{constId} AND company_id = #{companyId}
	</delete>

</mapper>
