<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.construction.mapper.PtPrivconstMapper" >
	<resultMap id="ptPrivconstMap" type="co.jp.arche1.kdrs.construction.repository.PtPrivconstRepository" >
		<id column="priv_const_id" property="privConstId" jdbcType="INTEGER" />
		<result column="priv_const_code" property="privConstCode" jdbcType="VARCHAR" />
		<result column="priv_const_name" property="privConstName" jdbcType="VARCHAR" />
		<result column="const_id" property="constId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="max_report_no" property="maxReportNo" jdbcType="INTEGER" />
		<result column="max_order_no" property="maxOrderNo" jdbcType="INTEGER" />
		<result column="max_work_no" property="maxWorkNo" jdbcType="INTEGER" />
		<result column="max_image_no" property="maxImageNo" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />

	</resultMap>



	<select  resultType="int"  id="selectPrivconstId">
		select COALESCE(MAX(priv_const_id), 0) from pt_privconst
		WHERE priv_const_code = #{privconstCode}
		LOCK IN SHARE MODE
	 </select>

	 <insert id="insertAll" parameterType="java.util.List">
  		insert into pt_privconst
        (priv_const_code, priv_const_name, user_id, created_at, updated_at)
        values
        <foreach collection="list" item="item" separator=",">
         (
        	#{item.privConstCode,jdbcType=VARCHAR},
         	#{item.privConstName,jdbcType=VARCHAR},
         	#{item.userId,jdbcType=INTEGER},
        	#{item.createdAt,jdbcType=TIMESTAMP},
         	#{item.updatedAt,jdbcType=TIMESTAMP}
      	 )
    	</foreach>
	</insert>


	<update id="updateAllConstId" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
         update pt_privconst
         <set>
            const_id = #{item.constId}
         </set>
           WHERE priv_const_Id = #{item.privConstId}
    	</foreach>
	</update>

	 <update id="updateAll" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
         update pt_privconst
         <set>
            updated_at = #{item.updatedAt}
           <if test="item.privConstName != null">
               , priv_const_name = #{item.privConstName}
           </if>
           <if test="item.userId != null">
               , user_id = #{item.userId}
           </if>
         </set>
           WHERE priv_const_code = #{item.privConstCode}
    	</foreach>
	</update>

    <update id ="deleteAll" parameterType="java.util.List">
      <foreach collection="list" item="item" separator=";" >
		update pt_privconst
		<set>
            updated_at = #{item.updatedAt},
            deleted = #{item.deleted}
        </set>
		    WHERE priv_const_code = #{item.privConstCode}
      </foreach>
    </update >

     <update id="updateConstIdToNull" >
       UPDATE pt_privconst,
       ( SELECT  * from pt_privconst WHERE const_id= #{constId} ) PCON
       <set>
          pt_privconst.const_id = NULL
       </set>
       WHERE pt_privconst.priv_const_id = PCON.priv_const_id;
     </update>

     <update id="updateReportNo" >
		UPDATE
			pt_privconst
			<set>
		    	updated_at = #{ptPrivconstRepository.updatedAt}
		    	, max_report_no = max_report_no + 1
            </set>
	  	WHERE priv_const_code = #{ptPrivconstRepository.privConstCode}
	 </update>

	<update id="updateOrderNo" >
		UPDATE
			pt_privconst
			<set>
		    	updated_at = #{ptPrivconstRepository.updatedAt}
		    	, max_order_no = max_order_no + 1
            </set>
	  	WHERE priv_const_code = #{ptPrivconstRepository.privConstCode}
	</update>

	<update id="updateWorkNo" >
		UPDATE
			pt_privconst
			<set>
		    	updated_at = #{ptPrivconstRepository.updatedAt}
		    	, max_work_no = max_work_no + 1
            </set>
	  	WHERE priv_const_code = #{ptPrivconstRepository.privConstCode}
	</update>

</mapper>