<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.jp.arche1.kdrs.construction.mapper.PvPrivconstUserMapper" >
	<resultMap id="pvPrivconstMap" type="co.jp.arche1.kdrs.construction.repository.PvPrivconstUserRepository" >
		<id column="priv_const_id" property="privConstId" jdbcType="INTEGER" />
		<result column="priv_const_code" property="privConstCode" jdbcType="VARCHAR" />
		<result column="priv_const_name" property="privConstName" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="login_user" property="loginUser" jdbcType="VARCHAR" />
		<result column="const_id" property="constId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="max_report_no" property="maxReportNo" jdbcType="INTEGER" />
		<result column="max_order_no" property="maxOrderNo" jdbcType="INTEGER" />
		<result column="max_work_no" property="maxWorkNo" jdbcType="INTEGER" />
		<result column="max_image_no" property="maxImageNo" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />

	</resultMap>

	<select id="selectList" resultMap="pvPrivconstMap" >
		SELECT
			priv_const_id, priv_const_name, user.name as user_name
		FROM pt_privconst
		left join pt_user user on user.user_id = pt_privconst.user_id
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
	        <if test="userName != null and searchType != null and searchType == 2">
				AND user.name like CONCAT('%', #{userName},'%')
	        </if>
           <if test="privConstName != null and searchType != null and searchType == 2">
				AND pt_privconst.priv_const_name like CONCAT('%', #{privConstName},'%')
	        </if>
	        <if test="searchType != null and searchType == 2">
	            AND pt_privconst.const_id IS NULL OR pt_privconst.const_id = ''
	        </if>
            <if test="searchType != null and searchType == 1 ">
				AND pt_privconst.const_id = #{constId}
	        </if>
    	</trim>
        GROUP BY priv_const_id;
    </select>

    <select id="selectMany" resultMap="pvPrivconstMap" >
		SELECT
			priv_const_id, priv_const_code, priv_const_name, COALESCE(MAX(const_id), 0), deleted,
			pt_privconst.user_id,
			max_report_no, max_order_no, max_work_no, max_image_no, created_at, updated_at,
			user.name as user_name, user.login_user
		FROM pt_privconst
		left join pt_user user on user.user_id = pt_privconst.user_id
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
	        <if test="userId != null">
				AND pt_privconst.user_id = #{userId}
	        </if>
           <if test="privConstId != null">
				AND pt_privconst.priv_const_id = #{privConstId}
	        </if>
            <if test="deleted != null and deleted != 2 ">
				AND pt_privconst.deleted = #{deleted}
	        </if>
    	</trim>
        GROUP BY priv_const_id;
    </select>

</mapper>